:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: black;
}

button{
	background: none;
    border: none;
	cursor: pointer;
    transition: opacity 0.3s;
}

ul {
    list-style-type:none;
}

li:nth-of-type(odd) {
    background-color: rgb(227, 189, 255);
}

.questionCards{
    display: none;
    flex-direction: column;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
height: 20px;
}

#questions{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#questions, #answer_status{
    width: 50%;
    margin: 50px auto;
}

button {
    background-color: indigo;
    border-radius: 5px;
    color: antiquewhite;
    padding: 10px 8px 8px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px;
    width: auto;
}
#Start_Quiz{
    align-self:center;
}
.answers_btn{
    align-self: flex-start; 
}

button:hover{
    opacity: 0.6;
}

button:active{
    opacity: 1;
}



#high_scores, #timer_status{
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    background: none;
    border:none;
}

#high_scores {
    color:indigo;
}

#header_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#completed_card, #highscores{
    display: none;
    flex-direction:column;
    align-items: center;
}

#completed_card > *{
    height: 50px;
}
